<template>
  <div class="layout">
    <ProgressChart :statuses="progress"></ProgressChart>
    <PieStats :stats="protocols" :onSelectProtocol="getStatsForProtocol"></PieStats>
    <ProtocolStats ref="statsElement" v-if="protocolStats" :stats="protocolStats"></ProtocolStats>
  </div>
</template>

<script>
import * as api from '../services/api.js'
import {smoothScrollTo} from '../services/utils.js'
import ProgressChart from './ProgressChart.vue'
import PieStats from './PieStats.vue'
import ProtocolStats from './ProtocolStats.vue'

export default {
  name: 'Dashboard',
  components: {
    PieStats,
    ProgressChart,
    ProtocolStats
  },
  data: () => {
    return {
      progress: [],
      protocols: [],
      protocolStats: null
    }
  },
  methods: {
    getStatsForProtocol (selected) {
      this.protocolStats = selected
      setTimeout(() => smoothScrollTo(this.$refs.statsElement.$el), 0)
    }
  },
  mounted: function () {
    api.getTeamProgress().then(result => {
      this.progress = result
    })
    api.getProtocols().then(result => {
      this.protocols = result
    })
  }
}
</script>

<style scoped>
.layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.layout > div {
  margin: 10px;
}
</style>
