<template>
  <div class="footer">
    <div><a href="#">Contact</a></div>
    <div>|</div>
    <div><a href="#">Terms & Conditions</a></div>
    <div>|</div>
    <div><a href="#">Privacy</a></div>
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.footer {
  border-top: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

a {
  color: rgb(0, 129, 150);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.footer > div {
  margin: 5px 10px;
}
</style>
