<template>
  <div class="header">
    <el-row type="flex" align="middle">
      <el-col :span="6"><img class="logo" src="/udg.png" alt="UDG" /></el-col>
      <el-col :span="18">
        <el-card class="user" :body-style="{ padding: '5px 20px' }">
          <span>Stan Marsh</span>
        </el-card>
      </el-col>
    </el-row>
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.header {
  border-bottom: 1px solid lightgrey;
}

.logo {
  height: 63px;
  margin: 2px 0;
}
.user {
  float: right;
  font-size: 12px;
}
</style>
