<template>
  <div class="pie">
    <div class="tooltip"></div>
    <el-card header="Protocols tested">
      <svg width="400" height="400">
      </svg>
    </el-card>
  </div>
</template>

<script>
import {select, arc as arcFactory, pie as pieFactory, scaleOrdinal, schemeSpectral, event} from 'd3'

const color = scaleOrdinal(schemeSpectral[11])

export default {
  name: 'PieStats',
  props: {
    stats: Array,
    onSelectProtocol: Function
  },
  data () {
    return {
      chart: null,
      path: null,
      pie: null
    }
  },
  mounted () {
    const svg = select('.pie svg')
    const width = +svg.attr('width')
    const height = +svg.attr('height')
    const radius = this.radius = Math.min(width, height) / 4

    this.slices = svg.append('g').attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')')
    this.labels = svg.append('g').attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')')

    this.pie = pieFactory()
    this.path = arcFactory()
      .outerRadius(radius - 10)
      .innerRadius(0)

    this.labelPath = arcFactory()
      .outerRadius(radius + 20)
      .innerRadius(radius + 20)

    this.renderChart()
  },
  watch: {
    stats (newdata, olddata) {
      if (newdata.length !== olddata.length || !newdata.every((v, i) => v === olddata[i])) {
        this.renderChart()
      }
    }
  },
  methods: {
    midAngle: d => d.startAngle + (d.endAngle - d.startAngle) / 2,
    renderChart () {
      const tooltip = select('.tooltip')

      const arc = this.slices.selectAll('.arc')
        .data(this.pie.value(d => d.tests)(this.stats))
        .enter().append('g')
        .attr('class', 'arc')
        .on('click', d => this.onSelectProtocol(d.data))
        .on('mouseover', function (d) {
          tooltip.transition()
            .duration(200)
            .style('opacity', 0.9)
          tooltip.html(d.data.id + '<br/> tested <br/>' + d.data.tests + '<br/> times')
            .style('left', (event.pageX) + 'px')
            .style('top', (event.pageY - 28) + 'px')
        })
        .on('mouseout', function (d) {
          tooltip.transition()
            .duration(500)
            .style('opacity', 0)
        })

      arc.append('path')
        .attr('d', this.path)
        .attr('fill', d => color(d.index))

      this.labels.selectAll('.label')
        .data(this.pie(this.stats))
        .enter().append('text')
        .text(d => d.data.id)
        .attr('class', 'label')
        .attr('font-size', 'x-small')
        .attr('transform', d => {
          let pos = this.labelPath.centroid(d)
          // pos[0] = this.radius * (this.midAngle(d) < Math.PI ? 1 : -1)
          return 'translate(' + pos + ')'
        })
        .attr('text-anchor', d => (this.midAngle(d) < Math.PI ? 'start' : 'end'))
    }
  }
}
</script>

<style scoped>
.pie {
  text-align: left;
}

div.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 60px;
    padding: 2px;
    font: 12px sans-serif;
    background: white;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s;
}
</style>
