<template>
  <div class="progress-chart">
    <el-card>
      <el-table
        :data="statuses"
        style="width: 100%">
        <el-table-column
          prop="username"
          label="Partner"
          width="100">
        </el-table-column>
        <el-table-column
          prop="protocol"
          label="Protocol tested"
          width="140">
        </el-table-column>
        <el-table-column
          label="Status"
          min-width="200">
          <template slot-scope="scope">
            {{statusLabels[scope.row.status]}}
          </template>
        </el-table-column>
      </el-table>
    </el-card>
  </div>
</template>

<script>
export default {
  name: 'ProgressChart',
  props: {
    statuses: Array
  },
  data: () => {
    return {
      statusLabels: [
        'Not started',
        'Test in progress',
        'Test completed: success',
        'Test completed: rejected'
      ]
    }
  }
}
</script>

<style scoped>
.progress-chart {
  text-align: left;
}
</style>
