<template>
  <div class="protocol-stats">
    <el-card :header="title">
      <div class="chart">
      </div>
      <table class="legend">
        <colgroup><col><col></colgroup>
        <tr><td><i class="el-icon-success ls"></i> Successes</td><td>{{this.stats.successes}}</td></tr>
        <tr><td><i class="el-icon-warning lp"></i> Tests in progress</td><td>{{this.stats.inProgress}}</td></tr>
        <tr><td><i class="el-icon-error lf"></i> Failures</td><td>{{this.stats.failures}}</td></tr>
      </table>
    </el-card>
  </div>
</template>

<script>
import {select} from 'd3'

const columns = ['successes', 'inProgress', 'failures']

export default {
  name: 'ProtocolStats',
  props: {
    stats: Object
  },
  computed: {
    title () {
      return this.stats.id
    },
    percentages () {
      let {successes, inProgress, failures, tests} = this.stats
      return {
        successes: successes / tests * 100,
        inProgress: inProgress / tests * 100,
        failures: failures / tests * 100
      }
    }
  },
  mounted () {
    this.slices = select('.protocol-stats div.chart').selectAll('.slice')
      .data(columns)
      .enter().append('div')
      .attr('class', d => 'slice ' + d)

    this.renderChart()
  },
  watch: {
    stats (newdata, olddata) {
      const changed = !olddata || columns.reduce((change, c) => (change || newdata[c] !== olddata[c]), false)
      if (changed) {
        this.renderChart()
      }
    }
  },
  methods: {
    width: p => 'width: ' + p + '%',
    label: p => p.toFixed(1) + '%',
    renderChart () {
      this.slices
        .attr('style', d => 'width: ' + this.percentages[d] + '%')
        .text(d => this.label(this.percentages[d]))
    }
  }
}
</script>

<style>
.protocol-stats {
  text-align: left;
}

.slice {
  float: left;
  height: 21px;
  transition: width 0.2s ease-out;
  font-size: x-small;
  text-align: center;
  padding-top: 9px;
}
.chart {
  height: 30px;
  overflow: hidden;
  border-radius: 5px;
  background-color: lightgrey;
  width: 300px;
}
.successes {
  background-color: rgb(171, 221, 164);
}
.inProgress {
  background-color: rgb(254, 224, 139);
}
.failures {
  background-color: rgb(213, 62, 79);
}

.legend {
  margin: 5px;
  width : 300px;
  table-layout: fixed;
}
.legend colgroup :nth-child(2) {
  width: 50px;
}
.ls { color: rgb(171, 221, 164); }
.lp { color: rgb(254, 224, 139); }
.lf { color: rgb(213, 62, 79); }
</style>
